<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Current Plants</title>
        <a href="/">Back</a><br>
        <script src={{ url_for('static', filename='js/current_plants.js') }} text="/text/javascript"></script>
    </head>
    <body>
        {% for p in current_plants %}
            <select name="plant-{{ p }}" id="plant-{{ p }}">
                {% for id, name in names %}
                    {% if p == id %}
                        <option value="{{ id }}" selected>{{ name }}</option>
                    {% else %}
                        <option value="{{ id }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endfor %}
        
        <br>
        <button name="addPlant" id="addPlant" onclick="addPlant()">Add New Plant</button>
        <button name="reset" id="reset">Reset</button>
        <button name="submit" id="submit">Submit Changes</button>
    </body>
</html>