<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to The Neeeeeewwwwwwww Data Input Page</title>
    </head>
    <body>
        <form action="/data" method="POST">
            <div>
              <label for="data1">Data 1</label>
              <input name="data1" id="data1">
            </div>
            <div>
              <label for="data2">Data 2</label>
              <input name="data2" id="data2">
            </div>
            <div>
              <button>Submit</button>
            </div>
          </form>
    </body>
</html>