<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grow Index</title>
    </head>
    <body>
        <h1>Grow Index</h1>
        <a href="calculator">Calculator</a><br>
        <a href="new_grow">Set a New Grow</a><br>
        <a href="new_event">Submit a New Event</a><br>
        <a href="new_comment">Submit a New Comment</a><br>
        <a href="data_tables">Data Tables</a><br>
        <a href="data_charts">Data Charts</a><br>
        <a href="event_tables">Event Tables</a><br>
        <script src={{ url_for('static', filename='js/index.js') }}></script>
    </body>
</html>
