<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Event</title>
        <a href="/">Back</a>
    </head>
    <body>
        <h1>New Event</h1>
        <textarea id="event" name="event" rows="5" cols="33"></textarea><br>
        {% for nid, name in current_names %}
        <label for="{{ nid }}">{{ name }}</label>
        <input type="checkbox" id="{{ nid }}" name="{{ nid }}" class="check" checked>
        {% endfor %}<br>
        <button onclick="onSubmit()">Submit Event</button>
        <script src={{ url_for('static', filename='js/new_event.js') }} text="/text/javascript"></script>
    </body>
</html>